body {
  margin: 0 auto;
  width: 500px;
}

button {
  width: 100px;
  height: 100px;
  font-size: 2em;
}

div#display {
  padding: 15px;
  border: 1px solid black;
  text-align: right;
  font-size: 1.5em;
  box-sizing: border-box;
  height: 60px;
}

div#operators {
  margin: 15px 0;
}

button.clearbutton {
  width: 500px;
}